<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <!--<add key="pathFE" value="C:\data0\facturador\"/>
    <add key="reportPath" value="D:\Reporte\SGO\"/>
    <add key="reportName" value="rptComprobanteVentaEnvioCorreo.rdlc|rptComprobanteVentaExportacion.rdlc"/>
    <add key="folderName" value="REPO|xmlEnvio|SGO_ENVIOCORREO"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceCVenta" />
        <binding name="BasicHttpBinding_IUsuarioService" />
        <binding name="ServiceRUCBinding" />
        <binding name="ServiceRUCBinding1" />
        <binding name="BasicHttpBinding_IServiceCVenta1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63343/CVenta/ServiceCVenta.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCVenta" contract="ServiceCVenta.IServiceCVenta" name="BasicHttpBinding_IServiceCVenta" />
      <endpoint address="http://localhost:63343/SGOTouch/UsuarioService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioService" contract="ServiceUsuario.IUsuarioService" name="BasicHttpBinding_IUsuarioService" />
      <endpoint address="http://ws.insite.pe/sunat/ruc.php" binding="basicHttpBinding" bindingConfiguration="ServiceRUCBinding" contract="ServiceRUC.ServiceRUCPortType" name="ServiceRUCPort" />
      <endpoint address="http://ws.insite.pe/test.ruc1.php" binding="basicHttpBinding" bindingConfiguration="ServiceRUCBinding1" contract="ServiceRuc2.ServiceRUCPortType" name="ServiceRUCPort1" />
      <endpoint address="http://localhost:63347/CVenta/ServiceCVenta.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCVenta1" contract="ServiceCVentaOne.IServiceCVenta" name="BasicHttpBinding_IServiceCVenta1" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>